.constBlue {
  color: #295591;
}

.constNameBlue {
  color: #80C5EB;
}

.curlyBraces {
  color: #c506a8;
}

.contentOrange {
  color: #f3917d;
}

.active {
  background-color: #1E1E1E;
  border: none;
}

.comma {
  color: white;
}

.number {
  color: #A8BD98;
}