body {
  font-family: Consolas, 'Courier New', monospace;
}

.section {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 4%;
}

.title {
  font-size: calc(2rem + 1.5vw);
  position: absolute;
  top: 4%;
}

.button {
  font-size: 1.5rem;
}

.object {
  font-size: 1.6rem;
}

.objectInfo {
  margin-left: 2.5rem;
}

.objectClosing {
  position: relative;
}

.writeEffect {
  width: 0.2rem;
  height: 2rem;
  background-color: white;
  position: absolute;
  animation: 1s fade infinite;
  margin-left: 0.3rem;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .title {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    .titleText {
      margin-left: 2rem;
    }
  }

  .button {
    font-size: 1.2rem;
  }
}